/*title{
    @include rfs(60);
}*/
html{
    background-color: lightgray;
}

.jumbotron-fluid{
    background-color: lightgray;
    padding-top:15%;
    padding-bottom: 21.5%;
    height: 100%;
}

#surname{
    color: black;
}

#prof{
    background-color:black;
    padding-right: 10px;
    padding-left: 10px;
}
.about a{
    text-decoration: none;
}
