/* Small devices (landscape phones, 576px and less)*/
@media (max-width: 426px) {
    #tusharchoudhari{
    font-size: 3.3em;
}

#statement{
    font-size: 1.8em;
}

.about{
    font-size: 0.75em;
}

.jumbotron-fluid{
    padding-top: 65%;
}

 }

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
    .jumbotron-fluid{
        padding-top: 15%;
    }
 }

/* Large devices (desktops, 992px and less)*/
@media (max-width: 992px) {

 }

/* Extra large devices (large desktops, 1200px and less)*/
@media (max-width: 1200px) {

 }









