/* Small devices (landscape phones, 576px and less)*/
@media (max-width: 426px) {

    #tusharchoudhari{
    font-size: 3em;
}

#statement{
    font-size: 1.8em;
}

.about{
    font-size: 0.75em;
}

 }

/* Medium devices (tablets, 768px and less)*/
@media (max-width: 768px) {
    .heading{
        text-align: center;
    }
 }

/* Large devices (desktops, 992px and less)*/
@media (max-width: 1024px) {

 }

/* Extra large devices (large desktops, 1200px and less)*/
@media (max-width: 1200px) {

 }









