
@import url('https://fonts.googleapis.com/css?family=Mansalva|Rubik&display=swap');

@mixin middle{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body{
  background-color: white;
  width: 100%;
  min-height: 100vh;
  font-family: Rubik;
  color: white;
  font-size: 1.4em;
  overflow: hidden;
}

#particles-js{
  width: 100%;
  height: 100vh;
  background-color: black;
  position: fixed;
}
#container{

  overflow: hidden;

  section{
    .sentence{
      position: absolute;
      top: 40%;
      left: 50%;
      transform: translate(-50%,-50%);
    }
  }




  #section-1,#section-2,#section-3,#section-4,#section-5,#section-6,#section-7,#section-8,#section-9,#section-10,#section-11,#section-12,#section-13,#section-14,#section-15,#section-16,#section-17,#section-18,#section-19,#section-20{
    .sentence{
      margin-top: 10px;
      .slide-1{
        opacity: 0;
      }
      .slide-2{
        opacity: 0;
      }
      .slide-3{
        opacity: 0;
      }
    }
  }

  .button{
    @include middle;
      top: 90%;
      font-size: 1.2em;
      cursor: pointer;
  }
 }
